################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/SignalRClientApp/v15/Server/sqlite3
/src/SignalRClientApp/bin/Debug
/src/SignalRClientApp/obj/Debug
*.suo
/src/packages
